<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sipc.clockin.mapper.StudentMapper">
    <update id="addClock">
        UPDATE clock SET type = #{type}, time = #{time}, reason = #{reason}
                     WHERE message_id = #{messageId} AND clock.class_id = #{classId} AND student_id = #{studentId}
    </update>

    <select id="getClockRecord" resultType="com.sipc.clockin.pojo.domain.PO.Clock">
        select * from clock where student_id = #{id}
    </select>
    <select id="getClassClock" resultType="com.sipc.clockin.pojo.model.result.StudentClockDetail">
        select work_id,user.name user_name,dormitory,user.class_id,clazz.name class_name,student_num,
               clock.message_id,start_time,end_time,clock.id clock_id,type,is_pass,reason
        from user
                 JOIN clazz ON (user.class_id = clazz.id AND user.class_id = (SELECT class_id from user where work_id = #{workId}))
                 JOIN message_to_class ON clazz.id = message_to_class.class_id
                 JOIN message ON (message_to_class.message_id = message.id
            AND DATE (message.create_time) = #{date})
                 JOIN clock ON (message.id = clock.message_id
            And student_id= user.work_id);
    </select>
    <select id="getClass" resultType="java.lang.Integer">
        SELECT user.work_id FROM user WHERE class_id = #{classId}
    </select>
    <select id="getRestInfo" resultType="com.sipc.clockin.pojo.model.result.RestResult">
        SELECT * from clock JOIN user ON student_id = user.work_id AND clock.id = #{clockId}
    </select>

</mapper>