<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sipc.clockin.mapper.UserMapper">

    <select id="selectByEmail" resultType="com.sipc.clockin.pojo.domain.PO.User">
        SELECT * FROM user WHERE email = #{email}
    </select>

    <select id="selectByWorkId" resultType="com.sipc.clockin.pojo.domain.PO.User">
        SELECT * FROM user WHERE work_id = #{workId}
    </select>

    <update id="updatePassword">
        UPDATE user SET password = #{password}
        WHERE email = #{email}
    </update>

    <update id="updateTeacherInfo">
        UPDATE user SET college_id = #{collegeId}, icon = #{icon}
        WHERE work_id = #{workId}
    </update>

    <update id="updateClassIds">
        UPDATE user set class_ids = #{classIds}
        WHERE work_id = #{workId}
    </update>

    <update id="updateRole">
        UPDATE user set role = #{role} WHERE work_id IN
        <foreach collection="studentIds" item="id" index="index" open="(" close=")" separator=",">
           #{id}
        </foreach>
    </update>

    <select id="selectManager" resultType="com.sipc.clockin.pojo.domain.PO.User">
        SELECT * FROM user WHERE role = '学生管理员' AND class_id = #{classId}
    </select>

    <select id="selectStudent" resultType="com.sipc.clockin.pojo.domain.DO.UserSimple">
        SELECT work_id, name FROM user WHERE role = '学生管理员' AND class_id = #{classId}
    </select>
</mapper>